
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Dummy Mock Trade
    </mat-panel-title>
    <mat-panel-description>
    	
    	Click for game intro and disclaimer.
    </mat-panel-description>
    <mat-icon>live_help</mat-icon>
  </mat-expansion-panel-header>
  <p>This is price movement over a random time period of a random stock to mimic unpredictable day trading activities. You have $1,000 fake money to start buy/sell. Transactions limited to one share in or out. Not for shorting. Feel free to click restart button at the buttom for unlimited trials.</p>
	<p>We update and select another stock or period every now and then. </p>
	<p>Disclaimer:  There is no professional relationship formed between this website and site visitors. The details in this website is only for informational or/and entertainment purposes. It shouldn’t be seen as a legitimate, official advice from an expert professional. If users/readers/visitors want to rely on any information on this website, they can do so at their own risk.</p>
</mat-expansion-panel>

<section class="menu">
	<div>
		<button mat-raised-button color="primary" [disabled]="tradeOn===true"(click)="buy()"style="margin: 5vw">Buy</button>
    	<button mat-raised-button color="primary" [disabled]="tradeOn===false"(click)="sell()" style="margin: 5vw">Sell</button>
    </div>
	<div style="display: inline-flex;">
		<span style="margin: 3vw;max-width: 5vw" class="mat-display-5">Beginning Balance: $1,000</span>
    <span style="margin: 3vw;max-width: 5vw;color:{{isGreen()}}" class="mat-display-5">Current Balance: ${{updatedBalance | number : '1.2-2'}}</span>
    <span style="margin: 3vw;max-width: 4vw" class="mat-display-5">Current Price: ${{currentPrice}}</span>
    <span style="margin: 3vw;max-width: 5vw" class="mat-display-5">Buy-in Price: ${{buyPrice}}</span>
	</div>
</section>
<section class="graph">
	<div id="my_dataviz" >
    <svg width="700" height="400"></svg> 
  </div>
</section>
<div style="justify-content: center; display: flex;">
	<button mat-raised-button color="accent" style="margin: 1vw" (click)="restart()">Restart</button>
</div>


