
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Dummy Mock Trade
    </mat-panel-title>
    <mat-panel-description>
    	
    	Click for game intro and disclaimer.
    </mat-panel-description>
    <mat-icon>live_help</mat-icon>
  </mat-expansion-panel-header>
  <p>This is price movement over a random time period of a random stock to mimic unpredictable day trading activities. You have $10,000 to start buy/sell. Try your trading strategies - including finding a good entry point and execute your stop loss exit. Feel free to click restart button at the buttom for unlimited trials.</p>
	<p>We update and select another stock or period every now and then. </p>
	<p>Disclaimer:  There is no professional relationship formed between this website and site visitors. The details in this website is only for informational or/and entertainment purposes. It shouldn’t be seen as a legitimate, official advice from an expert professional. If users/readers/visitors want to rely on any information on this website, they can do so at their own risk.</p>
</mat-expansion-panel>

<section class="menu">
	<div>
		<button mat-raised-button color="primary" style="margin: 5vw">Buy</button>
    	<button mat-raised-button color="primary" style="margin: 5vw">Sell</button>
    </div>
	<div style="display: inline-flex;">
		<span style="margin: 3vw;max-width: 8vw" class="mat-display-5">Beginning Balance: $10,000</span>
		<span style="margin: 3vw;max-width: 8vw" class="mat-display-5">Current Balance: $10,000</span>
	</div>
</section>
<section class="graph">
	<div id="my_dataviz"></div>
</section>
<div style="justify-content: center; display: flex;">
	<button mat-raised-button color="accent" style="margin: 1vw">Restart</button>
</div>


