<!-- <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top"><em>H</em>appyTrade</a>
                </div>
                /.navbar-header
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="scroll-top">Home</a></li>
                        <li><a href="#" class="scroll-link" data-id="about">About Us</a></li>
                        <li><a href="#" class="scroll-link" data-id="blog">Blog</a></li>
                        <li><a href="#" class="scroll-link" data-id="game">Trade Simulator</a></li>
                        <li><a href="#" class="scroll-link" data-id="chat">Community</a></li>
                        <li><a href="#" class="scroll-link" data-id="contact-us">Contact Us</a></li>
                       
                        <div *ngIf = "auth.afAuth.authState | async as user">
                         <li>
                            <a (click)="auth.logout()" class="scroll-link">Log in</a>
                        </li>
                        
                        <li *ngIf ="!user">
                            <a  (click)="auth.login()"class="scroll-link">Login with Google</a>  
                        </li>
                   
                        <li *ngIf="user.uid==='5gJ2g3clgaMgSDZ3GoSrLUSqQPs2'">
                            <a routerLink="/dashboard">Write a Post</a>
                        </li>

                        </div>                       
                    </ul>
                </div>
                /.navbar-collapse
            </nav>
            /.navbar
        </div>
        /.container
    </div>
    /.header -->




<mat-toolbar color="primary">
 <mat-toolbar-row>
 	<span routerLink = "/home"> H <mat-icon style="font-size:20px">sentiment_very_satisfied</mat-icon>ppy Tr <mat-icon style="font-size:20px">sentiment_very_satisfied</mat-icon>ding</span>
 	<br>
 	<div fxLayout="row" fxShow="false" fxShow.gt-sm>

        <button mat-button routerLink="/blog"> 
        <mat-icon>free_breakfast</mat-icon>    Blog</button>

        <button mat-button routerLink="/game">
        	<mat-icon>monetization_on</mat-icon>
        	 Trade Simulator
        </button>
        <button mat-button routerLink="/roomlist">
        	<mat-icon>group</mat-icon>
        	 Community
        </button>
    </div>
   
 	<span class = "spacer"></span>
 	<div *ngIf = "auth.afAuth.authState | async as user; else showLogin">
 		<button *ngIf="user.uid==='5gJ2g3clgaMgSDZ3GoSrLUSqQPs2'" mat-raised-button color="accent" routerLink="/dashboard">
 		<mat-icon>note_add</mat-icon> Write a Post</button>
 		
 		<button mat-button (click)="auth.logout()">
 		<mat-icon> directions_run</mat-icon> Logout</button>
 	</div>
 	<ng-template #showLogin>
 		<button mat-button (click)="auth.login()"><mat-icon>perm_identity</mat-icon>Login with Google</button>
 	</ng-template>
 </mat-toolbar-row>
</mat-toolbar>
    <!-- <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="text-content">
                <h2><em>Happy </em> <span>Trade</span> Site</h2>
                <p>Happy Trade shares information about stock trading including blogs, stock stimulator and chat room. Please tell your friends about us. Thank you.</p>
                <div class="primary-white-button">
                    <a href="#" class="scroll-link" data-id="about">Let's Start</a>
                </div>
            </div>
        </div>
    </div> -->
<router-outlet></router-outlet>

