<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      DAY TRADE BASICS
    </mat-panel-title>
  </mat-expansion-panel-header>
	 <mat-nav-list *ngFor="let post of posts | async" style="padding: 2px">
	 	<ng-container *ngIf="post.category==='daytradebasics'">
	 		<a mat-list-item routerLink="{{post.id}}" >
		   	<img *ngIf="post.image"src="{{post.image}}" alt="{{post.title}}">
			<h4>{{post.title}}</h4>
			<!-- <p><small>   Posted by {{post.author}} &bull; on {{post.published.toDate() | date:"fullDate"}}</small></p> -->
		   </a>
	 	</ng-container> 
	</mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      OTHER THOUGHTS
    </mat-panel-title>
</mat-expansion-panel-header>
  <mat-nav-list *ngFor="let post of posts | async" style="padding: 2px">
 	<ng-container *ngIf="post.category==='other'">
 		<a mat-list-item routerLink="{{post.id}}" >
	   	<img *ngIf="post.image"src="{{post.image}}" alt="{{post.title}}">
		<h4>{{post.title}}</h4>
		<!-- <p><small>   Posted by {{post.author}} &bull; on {{post.published.toDate() | date:"fullDate"}}</small></p> -->
	   </a>
 	</ng-container>   
  </mat-nav-list>
</mat-expansion-panel>
<!-- <section>
	<mat-card *ngFor="let post of posts | async">
		<mat-card-content routerLink = "{{post.id}}">
			<img *ngIf="post.image"src="{{post.image}}" alt="{{post.title}}">
			<h2>{{post.title}}</h2>
			<p><small>Posted by {{post.author}} &bull; on {{post.published.toDate() | date:"fullDate"}}</small></p>
		</mat-card-content>
		<mat-card-actions align="end" *ngIf="auth.currentUserId===post.author.id">
			<button mat-icon-button (click)="delete(post.id)">
				<mat-icon>delete</mat-icon>
			</button>
			
		</mat-card-actions>
	</mat-card>
</section> -->