section{
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	grid-auto-rows:auto;
	grid-gap:10px;
	margin:0 auto;
	max-width: 95%;
}

mat-card{
	margin:20px 0;
	max-width: 100%;

}

img {
	max-width: 100%;
}

mat-card-content:focus{
	outline:none;
	border:0;
}